In [2]:

from sklearn import tree
import pandas as pd
import os

In [6]:
df = pd.read_csv("Resources/Train_Data_Cleaned.csv")
df.head()

,Id,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,...,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,Total Square Feet (ft),Total Lot Square Feet (ft),Total Cost Per Square Feet ($),Total Lot Cost Per Square Feet ($)
0,1,856,854,0,None,3,1Fam,TA,No,706,...,856,AllPub,0,2003,2003,2008,2416,8450,86.30,24.674556
1,2,1262,0,0,None,3,1Fam,TA,Gd,978,...,1262,AllPub,298,1976,1976,2007,2240,9600,81.03,18.906250
2,3,920,866,0,None,3,1Fam,TA,Mn,486,...,920,AllPub,0,2001,2002,2008,2272,11250,98.37,19.866667
3,4,961,756,0,None,3,1Fam,Gd,No,216,...,756,AllPub,0,1915,1970,2006,1933,9550,72.43,14.659686
4,5,1145,1053,0,None,4,1Fam,TA,Av,655,...,1145,AllPub,192,2000,2000,2008,2853,14260,87.63,17.531557

In [8]:
target = df["SalePrice"]
target_names = ["negative", "positive"]

In [10]:
data = df.drop("SalePrice", axis=1)
feature_names = data.columns
data.head()

,Id,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,...,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,Total Square Feet (ft),Total Lot Square Feet (ft),Total Cost Per Square Feet ($),Total Lot Cost Per Square Feet ($)
0,1,856,854,0,None,3,1Fam,TA,No,706,...,856,AllPub,0,2003,2003,2008,2416,8450,86.30,24.674556
1,2,1262,0,0,None,3,1Fam,TA,Gd,978,...,1262,AllPub,298,1976,1976,2007,2240,9600,81.03,18.906250
2,3,920,866,0,None,3,1Fam,TA,Mn,486,...,920,AllPub,0,2001,2002,2008,2272,11250,98.37,19.866667
3,4,961,756,0,None,3,1Fam,Gd,No,216,...,756,AllPub,0,1915,1970,2006,1933,9550,72.43,14.659686
4,5,1145,1053,0,None,4,1Fam,TA,Av,655,...,1145,AllPub,192,2000,2000,2008,2853,14260,87.63,17.531557

In [19]:
?df.astype

In [25]:
data.isnull().sum()

Id                                    0
1stFlrSF                              0
2ndFlrSF                              0
3SsnPorch                             0
Alley                                 0
                                     ..
YrSold                                0
Total Square Feet (ft)                0
Total Lot Square Feet (ft)            0
Total Cost Per Square Feet ($)        0
Total Lot Cost Per Square Feet ($)    0
Length: 84, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [12]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: could not convert string to float: 'None'

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

In [ ]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)